.Weather {
  border: 1px solid black;
  background-image: url("https://www.mrussellphotography.com/photoblog/photography/2013/june/nanaimo/duke-jack-point-biggs-park-sunset-coast-mountains-27741.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  color: #faf9f9;
  position: relative;
  margin: 60px auto auto;
  max-width: 700px;
  border-radius: 5px;
  padding: 20px 40px;
}
​ ​ .form-control {
  background-color: transparent;
  position: relative;
  border-color: whitesmoke;
}
​ .mycustombtn {
  position: relative;
}
​ ​ .time {
  font-size: 40px;
}
​ .Weather-description {
  list-style: none;
  line-height: 40px;
  font-size: 25px;
  position: relative;
  padding: 0;
}
​ .temperature {
  position: relative;
  font-size: 60px;
  vertical-align: top;
}
​ .weather-image {
  position: relative;
}
​ .conversion {
  position: relative;
  font-size: 20px;
}
