.Weather {
  border: 1px solid black;
  background-image: url("https://www.mrussellphotography.com/photoblog/photography/2013/june/nanaimo/duke-jack-point-biggs-park-sunset-coast-mountains-27741.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 700px;
  color: whitesmoke;
  position: relative;
  top: 60px;
}

.form-control {
  background-color: transparent;
  position: relative;
  left: 40px;
  top: 20px;
  border-color: whitesmoke;
}

.mycustombtn {
  position: relative;
  top: 20px;
  left: 40px;
}

.city {
  position: relative;
  top: 40px;
  left: 40px;
}

.time {
  position: relative;
  top: -20px;
  left: 420px;
  font-size: 40px;
}

.Weather-description {
  list-style: none;
  font-size: 25px;
  position: relative;
  top: 20px;
}

.temperature {
  position: relative;
  top: 70px;
  left: 30px;
  font-size: 60px;
}

.weather-image {
  position: relative;
  left: 130px;
  top: 20px;
}

.conversion {
  position: relative;
  left: 135px;
  top: -15px;
  font-size: 20px;
}
