.Weather {
  border: 1px solid black;
  background-image: url("https://www.mrussellphotography.com/photoblog/photography/2013/june/nanaimo/duke-jack-point-biggs-park-sunset-coast-mountains-27741.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 700px;
  color: #faf9f9;
  position: relative;
  top: 60px;
  margin: auto;
  max-width: 700px;
  border-radius: 5px;
}

.form-control {
  background-color: transparent;
  position: relative;
  left: 40px;
  top: 20px;
  border-color: whitesmoke;
}

.mycustombtn {
  position: relative;
  top: 20px;
  left: 40px;
}

.city {
  position: relative;
  top: 50px;
  left: 40px;
}

.time {
  position: relative;
  top: -10px;
  left: 400px;
  font-size: 40px;
}

.Weather-description {
  list-style: none;
  line-height: 40px;
  font-size: 25px;
  position: relative;
  top: 20px;
}

.temperature {
  position: relative;
  top: -70px;
  left: 500px;
  font-size: 60px;
}

.weather-image {
  position: relative;
  left: 520px;
  top: -155px;
}

.conversion {
  position: relative;
  left: 570px;
  top: -200px;
  font-size: 20px;
}
